:root{
    --primary-color: #bb8d61;
    --secondary-color: #CFAE88;
    --accent1-color: #022017;
    --accent2-color: #dbd9cb;
    --heading-font: 'Arial', sans-serif;
    --body-font: 'Verdana', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer{
    width: 840px;
    margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}
.socialmeida a{
    text-decoration: none;
}
.hero{
    position: relative;
}
.hero img{
    width: 100%;
    height: auto;
    display: block;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
article{
    position: absolute;
    top: 150px;
    background-color: var(--accent2-color);
    opacity: 0.7;
    width: 85%;
    left: 50px;
    text-align: center;
}
.hero article img{
    float: right;
    width: 125px;
}